@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('//cdn.jsdelivr.net/npm/element-plus/dist/index.css');
@import "variables";

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }

}

html {
  font-size: 14px;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: $mainColor;
  overflow-x: hidden;
}

#app {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  padding: 64px 0 0;
  display: flex;
  flex-direction: column;
}

.page {
  padding: 80px 0 166px;

  @media only screen and (max-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @media only screen and (max-width: 576px) {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media only screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media only screen and (min-width: 1400px) {
    max-width: 1424px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &--cover {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.title {
  margin: 0 0 16px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.22;
}

.mobile-menu {
  display: none;

  .el-dropdown-link {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: $mainColor;
    transition: color .4s;

    &:hover {
      color: $accent;
    }
  }

  @media only screen and (max-width: 992px) {
    display: inline-block;
  }

  @media only screen and (max-width: 576px) {

    .el-dropdown-link {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.el-dropdown__popper {

  .el-dropdown-menu {
    padding: 0;

    &__item {
      border-bottom: 1px solid $gray;

      a {
        color: $mainColor;
        text-decoration: none;
        transition: color .4s;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {

        a {
          color: $accent;
        }
      }

      &.is-disabled {
        pointer-events: none;

        a {
          opacity: .5;
        }
      }
    }
  }
}